<!--
  <div class="cell example example5 credit-card" id="example-5">
    <form id="payment-form">

      <fieldset>
        <legend class="card-only">Pay with card</legend>
        <legend class="payment-request-available">O introduce los datos de la tarjeta</legend>
        <div class="row">
          <div class="field">
            <label for="example5-name">Name</label>
            <input id="example5-name" class="input" type="text" placeholder="Jane Doe" required>
          </div>
        </div>
        <div class="row">
          <div class="field">
            <label for="example5-email">Email</label>
            <input id="example5-email" class="input" type="text" placeholder="janedoe@gmail.com" required>
          </div>
          <div class="field">
            <label for="example5-phone">Phone</label>
            <input id="example5-phone" class="input" type="text" placeholder="(941) 555-0123" required>
          </div>
        </div>
        <div data-locale-reversible="">
          <div class="row">
            <div class="field">
              <label for="example5-address">Address</label>
              <input id="example5-address" class="input" type="text" placeholder="185 Berry St" required>
            </div>
          </div>
          <div class="row" >
            <div class="field">
              <label for="example5-city">City</label>
              <input id="example5-city" class="input" type="text" placeholder="San Francisco" required>
            </div>
            <div class="field">
              <label for="example5-state">State</label>
              <input id="example5-state"  class="input empty" type="text" placeholder="CA" required>
            </div>
            <div class="field">
              <label for="example5-zip">ZIP</label>
              <input id="example5-zip" class="input empty" type="text" placeholder="94107" required>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="field">
            <label for="example5-card">Card Info</label>
            <div #cardInfo>
            </div>
          </div>
        </div>
        <button type="submit" (click)="onClick()">Pagar $25</button>
      </fieldset>
    </form>
    <div class="error" *ngIf="cardError">
      {{cardError}}
    </div>
  </div> -->
  <div >
    <form id="payment-form">
      <input type="text" id="email" placeholder="Email address" />
      <br>
      <div  #cardInfo><!--Stripe.js injects the Card Element--></div>
      <button id="submit" (click)="onClick()">
        <div class="spinner hidden" id="spinner"></div>
        <span id="button-text">Pay now</span>
      </button>
      <p id="card-error" role="alert"></p>

      <p class="result-message hidden">
        Payment succeeded, see the result in your
        <a href="" target="_blank">Stripe dashboard.</a> Refresh the page to pay again.
      </p>
    </form>
  </div>

