
<mat-toolbar color="primary" class="app-toolbar">
  <mat-toolbar-row>
    <span>Api Loader</span>
    <span class="example-spacer"></span>
      <button mat-raised-button color="accent" *ngIf="this.showButton" (click)="addToHomeScreen()">Add to home screen</button>
  </mat-toolbar-row>
</mat-toolbar>
<br>
<app-login></app-login>
<hr>
<div>
  <h2>Home Address:</h2>
  <p>
    <app-address (setAddress)="getAddress($event)" adressType="geocode"></app-address>
  </p>

  <b>Address: </b> {{formattedAddress}}
  <br><br>
  <h2>Office Address:</h2>
  <p>
    <app-address (setAddress)="getEstablishmentAddress($event)" adressType="establishment"></app-address>
  </p>
  <b>Address:</b> {{formattedEstablishmentAddress}}
  <br>
  <b>Phone:</b> {{phone}}
</div>
<br>
<hr>
<h2>New Payment Methods:</h2>
<app-add-new-card></app-add-new-card>
<br>
<hr>
<!-- <app-payment></app-payment> -->


